<div class="tw-w-full tw-text-center" data-newsletter>
  {% if section.settings.show_social_sharing_buttons %}
    <p class="tw-mt-16 tw-mb-10">{{ 'general.password_page.spread_the_word' | t }}</p>
    {% render 'social-sharing' %}
  {% endif %}

  <div class="tw-my-12 password-powered-by">
    {{ powered_by_link }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password-footer.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social_sharing_buttons",
      "label": "t:sections.main-password-footer.settings.show_social_sharing_buttons.label",
      "default": true
    }
  ]
}
{% endschema %}
