<div class="container">
  <h1 class="tw-text-3xl md:tw-text-5xl tw-my-6 md:tw-my-10 tw-text-center">{{ 'general.404.title' | t }}</h1>
  <p class="tw-my-4 tw-text-center">{{ 'general.404.subtext' | t }}</p>
  <p class="tw-mt-10 tw-mb-20 tw-text-center">
      <a href="{{ routes.root_url }}" class="tw-btn tw-btn-primary tw-rounded-full tw-font-semibold">
        {{ 'general.404.link' | t }} {% render 'icon-arrow-right' %}
      </a>
  </p>
</div>
