@media(max-width:767px) {
    .overlay {
        position: relative;
        height: 500px !important;
    }
    .overlay .content {
        padding: 0 !important;
        position: absolute;
        bottom: 37px;
        left: 16px;
    }
    .overlay .content h2 {
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700 !important;
        font-size: 40px !important;
        line-height: 49px !important;
        /* identical to box height */

        letter-spacing: 0.01em;

        color: #FFFFFF;
    }
    .overlay .content p {
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 18px !important;
        line-height: 22px !important;
        letter-spacing: 0.01em;
        margin: 0 !important;
        color: #FFFFFF;
    }
    .overlay .content p {
        border-radius: 6px;
    }
    .overlay .content a {
        width: 113px;
        height: 46px;
        background: #BCDDF2;
        border-radius: 6px;
        color: #045D96;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        padding: 0 !important;
        letter-spacing: 0.01em;
        justify-content: center !important;
    }
    .overlay .content a svg {
        display: none;
    }
    .justify-content-center {
        justify-content: unset !important;

    }
}